<h3 id="cm-new-menu-item"><%= l(:label_cm_add_new_item) %></h3>
<h3 id="cm-edit-menu-item" style="display:none;"></h3>

<%= form_tag({}, id: 'cm-menu-form') do %>
  <%= hidden_field_tag 'cm_item[type]', '' %>
  <table>
    <tbody id="cm-menu-item-menu">
      <tr>
        <td><label for="cm_item_menu"><%= l(:field_cm_item_menu) %></label></td>
        <td><%= select_tag 'cm_item[menu]', options_for_select([[l(:label_cm_menu_type_top_menu), 'top_menu'], [l(:label_cm_menu_type_account_menu), 'account_menu']], 'top_menu') %></td>
      </tr>
    </tbody>
    <tr>
      <td><label for="cm_item_caption"><%= l(:field_cm_item_caption) %></label><span class="required"> *</span></td>
      <td><%= text_field_tag 'cm_item[caption]', '', size: 30, required: true %></td>
    </tr>
    <tr>
      <td><label for="cm_item_custom_url"><%= l(:field_cm_item_custom_url) %></label></td>
      <td><%= text_field_tag 'cm_item[custom_url]', '', size: 30 %></td>
    </tr>
    <tr>
      <td><label for="cm_item_options_class"><%= l(:label_cm_custom_item_class) %></label></td>
      <td><%= text_field_tag 'cm_item[options][class]', '', size: 30 %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <label>
          <%= hidden_field_tag 'cm_item[logged]', 'false', id: nil %>
          <%= check_box_tag 'cm_item[logged]', 'true', false %>
          &mdash;
          <%= l(:field_cm_item_logged) %>
        </label>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <label>
          <%= hidden_field_tag 'cm_item[admin]', 'false', id: nil %>
          <%= check_box_tag 'cm_item[admin]', 'true', false %>
          &mdash;
          <%= l(:field_cm_item_admin) %>
        </label>
      </td>
    </tr>
    <%# if @item.new_record? || @item.rgt - @item.lft == 1 %>
      <!--<tr>-->
        <!--<td><label for="cm_item_parent_id"><%#= l(:field_cm_item_parent) %></label></td>-->
        <!--<%#-->
#              options = []
#              CmItem.each_with_level(CmItem.order('lft').where("type <> 'CmItemDivider'")) { |it, level| options << ["#{'&nbsp;&nbsp;&nbsp;' * (level)}#{it.caption || it.code}".html_safe, it.id] if level < 1 }
        <!--%>-->
        <!--<td><%#= select_tag 'cm_item[parent_id]', options_for_select([['', '']] + options, @item.parent_id), class: 'select2', style: 'width: 300px' %></td>-->
      <!--</tr>-->
    <%# end %>
    <tr>
      <td></td>
      <td>
        <div class="R">
          <%= submit_tag l(:button_save) %>
        </div>
      </td>
    </tr>
  </table>
<% end %>