<% responsible_ids = @settings['responsible_ids'] || [] %>

<div style="padding: 10px;">
<table style="width: 100%;" class="plugin_settings">
  <tr>
    <td style="width: 33%;"></td>
    <td>
      <%= check_box_tag 'settings[enable_restrictions]', true, @settings['enable_restrictions'] %>
      <%= label_tag 'settings_enable_restrictions', ('&mdash; ' + l(:settings_enable_restrictions)).html_safe %>
    </td>
  </tr>
    <tr class="rmp-settings-group">
      <td></td>
      <td><%= l(:label_uc_common_settings) %></td>
    </tr>
  <tr>
    <td><%= l(:settings_text_message) %> <span class='required'>*</span></td>
    <td>
      <%= text_area_tag 'settings[text_message]',
                        @settings['text_message'],
                        {cols: 60, rows: 5, class: 'wiki-edit'} %>
      <%= wikitoolbar_for 'settings_text_message' %>
    </td>
  </tr>
  <tr>
    <td><%= l(:settings_responsible_users) %></td>
    <td>
      <%= select_tag( 'settings[responsible_ids]',
                      options_for_select(User.active.sort_by(&:name).map{|u| [u.name, u.id]}, responsible_ids.map(&:to_i)),
                      multiple: true,
                      class: 'uc_select_users', style: 'width: 90%;') %>
    </td>
  </tr>
  <tr>
    <td><%= l(:label_browsers_conditions) %></td>
    <td>
      <%= render partial: 'uc_browser_restrictions/list' %>
    </td>
  </tr>
    <tr>
      <td>&nbsp;</td>
      <td id="settings_save_button"><%= render partial: 'uc_periods/rmplus_logo.html.erb' %></td>
    </tr>
</table>
</div>

<div id="uc_condition_window" class="modal I fade" role="dialog" aria-hidden="true" data-width="400px" data-height="50%" style="z-index: 1061;"></div>

<style type="text/css">

.uc-rule {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  padding: 5px 0;
  margin-top: -1px;
}

.uc_br_name {
  min-width: 130px;
}

.uc_br_cond {
  min-width: 20px;
}

</style>

<script>
  $(document).ready(function() {

    $('a[rel=tooltip]').tooltip({placement:'right'});

    $('.uc_select_users').select2({width: '100%'})
    $('#uc_condition_window').prependTo(document.body);
    toggle_not_specified();

    $(document.body).on('click', '.uc_cond_editor', function () {
        $('#uc_condition_window').html('<div class="loader form_loader"></div>');
        $('#uc_condition_window').modal('show');
        $('#uc_condition_window').load(this.href, function () {
            RMPlus.LIB.resize_bs_modal($('#uc_condition_window'));
        });
        return false;
    });

    $(document.body).on('change', '#rule_condition', function () {
      var val = $(this).val();
      if(typeof val == 'undefined' || val == '') {
        $('#rule_version').val('');
        $('#uc_brw_version').hide();
      }
      else {
        $('#uc_brw_version').show();
      }
    });

  });

  function toggle_not_specified () {
    if($('.uc-rule').length > 0) {
      $('.uc-not-specified').hide();
    }
    else {
      $('.uc-not-specified').show();
    }
  }
</script>