<div id="supertop_panel" class="clear"></div>
<div id="easy_gantt_menu" class="easy-gantt-menu clear">
  <div class="clear">
    <div class="push-left">
      <% if Rails.env.development? %>
        <span id="button_test" class="selected">
          <%= easy_gantt_js_button(l(:button_test)) %>
        </span>
      <% end %>

      <span id="button_jump_today">
        <%= easy_gantt_js_button('&#8203;'.html_safe, :title => l(:jump_today, :scope => [:easy_gantt, :title]), :icon => 'icon-calendar') %>
      </span>
      <% {'day' => 'calendar-day', 'week' => 'calendar-week', 'month' => 'calendar-month'}.each do |x, i| %>
        <div id="button_<%= x %>_zoom" class="menu-item">
          <%= easy_gantt_js_button(:"#{x}_zoom", :icon => "icon-#{i}") %>
        </div>
      <% end %>
    </div>
    <div class="push-right">
      <% menu_items_for(:easy_gantt, @project) do |node| %>
        <% opts = node.html_options.dup; opts[:url] = (node.url.is_a?(Proc) ? node.url.call(@project) : node.url) %>
        <div id="button_<%= node.name %>" class="menu-item">
          <% if opts.delete(:trial) %>
            <%= easy_gantt_help_button(node.name, node.caption, opts) %>
          <% else  %>
            <%= easy_gantt_js_button(node.caption, opts) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= call_hook(:view_easy_gantts_issues_toolbars, {:project => @project}) %>
</div>
<!-- This is container for gantt-->
<div id="gantt_cont" style="width:100%;" class="clear"></div>
<!-- End container for gantt-->