.admin-menu-under-construction {
  background-image: url(../images/under_construction.png);
}

.admin-menu-browsers-restricitons {
  background-image: url(../images/globe.png);
}

.uc-add-panel {
  margin: 5px 0;
}

.uc-fld-name {
  min-width: 120px;
}
.uc_preview_area {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
}

.uc_preview {
  float: right;
  padding-right: 10px;
  background-image: url(../images/preview.png);
}

.uc_float_warn {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: 5px;
  margin-right: 5px;
  z-index: 1000;
  border-radius: 4px;
  /*border: 1px solid #999;*/
  background-color: #FFFAE8;
  color: #333;
  max-width: 620px;
  min-width: 380px;
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.uc_float_warn:before,
.uc_float_warn:after {
  content: '';
  position: absolute;
  z-index: -2;
}

.uc_close_btn {
  float: right;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: -5px;
  margin-right: -3px;
}

.uc_close_warning {
  margin: 0;
  padding: 0;
  border: 0;
}

.uc_close_icon {
  display: block;
  margin: 1px 0;
  overflow: hidden;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../images/close.png);
}

.uc_warn_wrapper {
  padding: 8px;
  overflow: hidden;
  margin: 0;
  border: 0;
}

.uc_warn_image {
  float: left;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.uc_warn_text {
  padding-left: 40px;
  padding-right: 20px;
}

.uc_ask_label {
  padding: 2px 0;
  padding-top: 5px;
  clear: left;
  font-weight: bold;
  white-space: nowrap;
}

.uc_ask_user {
  border-top: 2px groove rgba(255, 255, 255, 0.55);
  margin: 0 -9px;
  margin-top: 3px;
  padding: 6px 6px 0 6px;
}

.controller-margin {
  float: left;
  margin-right: 10px;
}
a.add_controller {
  display: block;
  float: left;
  padding: 0 4px;
  margin-top: 5px;
}


#add_uc_filter td {
  vertical-align: top;
}

.uc-rule-row {
  margin-bottom: 10px;
}

#uc_period_form_preview {
  clear: both;
}

#uc_period_form_preview:empty {
  display: none;
}
